alias gs='git status'
alias gad='git add'
alias grm='git rm'
alias gpl='git pull'
alias gpsh='git push'
alias gdt='git difftool'
alias gcm='git commit'
alias gck='git checkout'
alias glog='git log'
alias glogn='git log --name-only'