# kubectl
alias kc='kubectl'
alias kcg='kubectl get'
alias kcd='kubectl describe'
alias kcex='kubectl exec -it'
alias kcap='kubectl apply -f'

function kcns() { kubectl config set-context --current --namespace="$@" }

alias kcedit='kubectl edit'
alias kclog='kubectl logs'
alias kclogf='kubectl logs -f'

alias kcgctx='kubectl config get-contexts'
alias kcctx='kubectl config use-context'

function kcalogapp { echo kubectl logs -f --selector app.kubernetes.io/name="$1" -n "$1" -c "$1" }
